body{
    font-family: 'Montserrat';
    line-height: 1.7;
}
/* header */
header {
    background-color: #F0FFF0;
}


.common-btn {
    background-color: #009b72;
    color: #fff ! important;
    /* display: inline-block; */
    margin-right: 5px;
    padding: 12px 20px;
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.common-btn:hover {
    color: #fff;
    background-color: #007556;
}

.common-btn:active {
    box-shadow: 0px 0px 4px 4px #92D4C3;
    background-color: #007556;  
} 


.section-element {
    padding: 40px 50px;
}
.section-element h6 {
    color: #FD511A
}

.section-element h1 {
    font-weight: 700;
}
.section-element h1 span {
    color: #009b72;
}
.section-element p {
    line-height: 2;
}
/* random cards */
.random-effect {
    border: none;
    background-color: #F0FFF0;
    border-radius: 0.7rem;
}
.random-effect:hover {
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* online course */
.heading h2 {
    font-weight: 700;
}
.card-btn {
    background-color: #21B573;
    color: #fff ! important;
    padding: 10px 25px;
    border-radius: 35px;
    text-align: center;
    font-weight: 500;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-btn:hover {
    color: #fff;
    background-color: #009b72;
}

.card-btn:active {
    box-shadow: 0px 0px 4px 4px #92D4C3;
    background-color: #009b72;  
} 

.online-card {
    border: none;
    box-shadow: 0 25px 50px -10px rgba(0, 0, 0, 0.25);
}
.card-footer {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.080);
}
.icon {
    color: #585859;
}

/* quotes */
.testimoni-image img {
 height: 100px;
 width: 100px;
}

/* footer */
footer {
    background-color: #282531;
    margin-top: 1.5rem;
    
}

footer ul li a {
    color: #fff!important;
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .testimonial {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .testimoni-image {
        margin-right: 1rem;
    }

    .testimonial p {
        width: 40rem;
    }
 }
